.fs-transfer-sheet {
    animation: fadeIn 0.2s ease-in both;
    background-color: #fff;
    bottom: 0;
    display: flex;
    min-width: 320px;
    position: fixed;
    top: 0;
    transition: background-color 0.1s 0 linear;
    transition-delay: 0;
    width: 100%;
    z-index: 10;
}

.transfer-content {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    align-items: center;
    animation: fadeIn 0.2s ease-in both;
    background-color: #fff;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    transition: opacity 0.15s 0 linear, visibility 0 0.15s linear;
}

.close-button {
    align-items: center;
    animation: fadeIn 0.2s ease-in both;
    color: #999;
    cursor: pointer;
    display: initial;
    flex-direction: column;
    justify-content: center;
    left: 0;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    top: 0;
    transition: opacity 0.15s 0 linear, visibility 0 0.15s linear;
    visibility: visible;
}

.close-button-icon {
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    animation: fadeIn 0.2s ease-in both;
    background: currentColor;
    border-radius: 2px;
    color: #999;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 20px;
    left: 50%;
    margin-left: -2px;
    position: relative;
    top: 50%;
    transform: rotate(45deg) translate3d(0, 0, 0);
    width: 20px;
    z-index: 1;
}

.initiate-transfer {
    margin-bottom: 0;
    max-width: 100%;
    transition: opacity 0.1s linear;
    visibility: visible;
    width: 100%;
}

.enter-email {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    animation: fadeIn 0.2s ease-in both;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    font-size: 18px;
    height: auto;
    margin-bottom: 20px;
    min-height: 55px;
    padding: 0 20px;
    position: relative;
    z-index: 10;
}

.whole-amount-value {
    -webkit-appearance: none;
    background: 0 0;
    border: 0;
    border-radius: 0;
    color: #00c730;
    display: block;
    font-size: 75px;
    height: 100px;
    line-height: 1;
    margin: 0;
    outline: 0;
    padding-left: 0;
    padding-right: 55px;
    text-align: center;
    transition: font-size 0.2s cubic-bezier(0.1, 0.1, 0.1, 1);
    vertical-align: baseline;
    width: 100%;
}

.whole-amount-value::placeholder {
    color: #00c730;
}

.currency-symbol {
    color: #204fc7;
    font-size: 50px;
    letter-spacing: 0;
}

.bottom-margin {
    margin-bottom: 20px;
}

.display-amount-input {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin-bottom: -20px;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.display-amount-fixed {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    min-height: 120px;
}

label {
    color: #ccc;
    padding-bottom: 12px;
    padding-top: 16px;
}

.token-list {
    width: 100%;
}

.recipiens {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 11px;
    width: 100%;
}

.transfer-input-field {
    border: none;
    border-radius: 0;
    display: inline-block;
    font-size: 18px;
    height: 34px;
    line-height: 1;
    margin-bottom: 10px;
    max-width: 100%;
    outline: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.transfer-button {
    background-color: #204fc7;
}

.transfer-button:hover {
    background-color: #2859d6;
    cursor: pointer;
}

.anchor {
    bottom: -3px;
    height: 1px;
    left: -1px;
    position: absolute;
    right: -1px;
}

.error-box {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 6px 6px;
    color: #e60000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    min-height: 70px;
    opacity: 0;
    padding: 5px 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -6px;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: opacity 0 0 linear;
}

.redeemForm {
    display: flex;
    flex-direction: column;
    min-width: 40vw;
}

.redeemButton:hover {
    cursor: pointer;
}

.transferForm {
    min-width: 40vw;
}

.disclaimerText {
    font-size: 11px;
}

.disclaimerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    flex-direction: column;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
